@import "styles/variables.scss";

.button {
  width: fit-content;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: $primary;
  color: $button-color;
  cursor: pointer;
  margin: 1px;
  transition: 200ms;
  white-space: nowrap;
  border: 1px solid transparent;

  &:hover {
    background-position-x: 55%;

    .icon {
      fill: $button-color;
    }
  }

  &:active {
    // transform: translateY(2px);
    transform: scale(0.95);
  }

  & > div {
    margin: 0;
  }

  img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .icon {
    height: 18px;
    width: 18px;
    margin-left: 8px;
    fill: $button-color;
  }
}

.button-outline {
  background: $button-color;
  color: $primary;
  border: 2px solid $primary;
  font-weight: 600;

  &:hover {
    color: $primary;

    .icon {
      fill: $primary;
    }
  }

  .icon {
    fill: $primary;
    stroke-width: 2px;
  }
}

.button-cancel {
  border: 1px solid transparent;
  background: transparent;
  color: $title;

  &:hover {
    background-color: $white-1;
    border: 1px solid $white-2;

    .icon {
      fill: $gray;
    }
  }

  .icon {
    fill: $black;
  }
}

.button-disabled {
  background: $white-2;
  width: fit-content;
  color: $title;
  border-color: $gray !important;
  cursor: not-allowed;

  svg {
    color: $primary;
  }

  &:hover {
    background: $white-2;
    color: $title;

    svg {
      color: $primary;
    }

    .icon {
      fill: $primary;
    }
  }

  &:active {
    transform: translateY(0) !important;
    transform: scale(1) !important;
  }

  .icon {
    fill: $primary;
  }
}

.outline-button-disabled {
  color: $primary;
  border-color: $primary;
  background: $white-2;

  &:hover {
    color: $primary;
    background: $white-2;
  }
}

.buttonDelete {
  width: fit-content;
  border: 1px solid $red;
  color: $button-color;
  background: $red;

  &:hover {
    background: $button-color;
    color: $red;
  }
}

.buttonDelete.button-outline {
  background-color: $button-color;
  color: $red;
}

@media (max-width: $breakpoint-md) {
  .button {
    height: 33px;
    font-size: 0.875rem;
  }
}

.styled_button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 6px;
}
