$mono: "Share Tech Mono", monospace;

$white: var(--var-white);
$black: var(--var-black);
$gray: var(--var-gray);
$gray-2: var(--var-gray-2);
$white-1: var(--var-white-1);
$white-2: var(--var-white-2);
$red: var(--var-red);
$yellow: var(--var-yellow);
$blue: var(--var-blue);
$green: var(--var-green);
$light-blue: var(--var-light-blue);
$very-light-blue: var(--var-very-light-blue);
$very-light-red: var(--var-very-light-red);
$pinkish: var(--var-pinkish);

$heading: var(--var-heading);
$title: var(--var-title);
$desc: var(--var-desc);
$label: var(--var-label);
$button-color: var(--var-button-color);
$bg-1: var(--var-bg-1);
$bg: var(--var-bg);

$primary: var(--var-primary);
$secondary: var(--var-secondary);

$shadow-1: 0px 0px 14px rgba(0, 0, 0, 0.1);
$shadow-2: 1px 1px 20px rgba(0, 0, 0, 0.08);

$breakpoint-md: 768px;
