@import "styles/variables";

.progressInput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
  opacity: 0;
  width: calc(100% + 5px);
  height: 7px;
}

.container {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;

  .dotLoading {
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes scale-up {
      0% {
        height: 5px;
        width: 5px;
        opacity: 1;
      }
      50% {
        height: 30px;
        width: 30px;
        opacity: 0.9;
      }
      100% {
        height: 5px;
        width: 5px;
        opacity: 1;
      }
    }

    .dot {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: $yellow;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $yellow;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        animation: scale-up forwards infinite 1s;
      }
    }
  }

  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px;

    .name {
      flex: 1;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: $white;
    }

    .expandButton,
    .logoutButton {
      padding: 6px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      position: relative;

      svg {
        height: 18px;
        width: 18px;
        color: $black;
      }
    }

    .expandButton {
      .unreadCount {
        right: -8px;
        left: auto;
      }
    }

    .logoutButton {
      svg {
        color: $red;
      }
    }
  }

  .inactiveOverlay {
    display: none;
    z-index: -1;
  }

  .controller {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    max-width: 100%;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      position: relative;

      .volumeButton,
      .repeatButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;

        .icon {
          min-width: 30px;
          min-height: 30px;
          width: fit-content;
          height: fit-content;
          padding: 6px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;
          position: relative;
          cursor: pointer;

          svg {
            height: 18px;
            width: 18px;
            color: $black;
          }

          p {
            font-size: 14px;
            line-height: 14px;
            font-weight: bold;
            color: $primary;
          }
        }

        .volumeBox {
          position: absolute;
          bottom: calc(25px + 50px);
          left: calc(16px + -50px);
          transform: rotate(-90deg);
          background-color: $white;
          border-radius: 5px;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;

          input {
            width: 100%;
            outline: none;
          }
        }
      }

      .repeatButton {
        right: 5px;
        left: auto;
      }

      .activeButton {
        .icon {
          svg {
            fill: $primary;
          }
        }
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;

        svg {
          height: 18px;
          width: 18px;
          fill: $white;
        }
      }

      .play {
        background-color: $white;
        padding: 12px;

        svg {
          height: 20px;
          width: 20px;
          fill: $black;
        }
      }
    }

    .progressContainer {
      display: flex;
      gap: 15px;
      align-items: center;

      .time {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $white;
      }

      .progressBar {
        flex: 1;
        width: 100%;
        border-radius: 10px;
        background-color: $bg-1;
        height: 7px;
        position: relative;

        .progress {
          width: 40%;
          height: 100%;
          background-color: $yellow;
          border-radius: 10px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -8px;
            transform: translateY(-50%);
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-color: $yellow;
            z-index: 5;
          }
        }
      }
    }
  }

  .left {
    width: min(100%, 320px);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .name {
      display: flex;
      gap: 5px;
      align-items: center;

      svg {
        height: 20px;
        width: 20px;
        color: $white;
      }
    }

    .title {
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $white;
    }

    .desc {
      font-size: 16px;
      line-height: 25px;
      color: $white;
      max-height: 45px;
    }
  }

  .unreadCount {
    position: absolute;
    top: -6px;
    left: -6px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid $white;
  }

  .right {
    width: min(100%, 320px);
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $white;
      text-align: end;
      text-transform: capitalize;
    }

    .btns {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: flex-end;

      // .moreBtn {
      //   background-color: $yellow;
      // }

      .moreButton {
        position: relative;
      }
    }

    .btn {
      padding: 5px 11px;
      font-size: 14px;

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    height: 120px;
    align-items: flex-end;
    justify-content: center;

    .controller {
      .buttons {
        .repeatButton {
          right: auto;
          left: 20px;
        }

        .volumeButton {
          left: -18px;
        }
      }
    }

    .left,
    .right {
      display: none;
    }
  }
}

.inactive {
  background-color: $gray;

  .inactiveOverlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    z-index: 50;
  }
}
